<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form method="post" action="/logme">
        <lable>Username</lable>
        <input name="user" type="text">
        <label>Enter password pls</label>
        <input name="pass"type="password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>

